.services-section {
  margin-top: 70px;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 192, 203, 0.164);
  /* background-color: #bb91ea26;  */
}
.services-section h2 {
  font-size: 42px;
}
.services-flex {
  margin: 50px 0px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 15px;
  border-radius: 20px;
  border: 2px solid #bb91ea76;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.084);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.title{
  /* color:blueviolet; */
}
.service img {
  width: 20vw;
}
.service button {
  border:2px solid blueviolet;
  background-color: #bb91ea;
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 700;
  font-family: "Reddit Sans", sans-serif;
  cursor: pointer;
}
.service button:hover {
  background-color: rgba(137, 43, 226, 0.648);
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 1080px) {
  .services-flex {
    flex-wrap: wrap;
    gap: 30px;
  }
  .service {
    width: 45%;
  }
  .service img {
    width: 30vw;
  }
}
@media screen and (max-width: 767px) {
  .services-flex {
    flex-wrap: wrap;
  }
  .service {
    width: 90%;
  }
  .service img {
    width: 60vw;
  }
}
