@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --color1: pink;
  --color2: #bb91ea;
  --color3: #f5f5f5;
  --color4: #3f2305;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 16px;
  font-family: "Reddit Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height:70px;
  position: fixed;
  top:0;
  width:100%;
  z-index: 100;
  background-color: #fff;
}
.logo-title{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-title img{
  position: absolute;
  left:30px;
  height:3.2rem;
}
.nav-ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
}
.nav-ul li{
  list-style: none; 
}
.nav-ul li a{
  text-decoration: none;
  color:#3f2305;
}
.nav:hover,.active{
  text-decoration: underline;
  text-underline-offset: 5px;
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  position: absolute;
  right:30px;
}
#login,#sign{
  padding:8px 16px;
}
#login{
  border:2px solid #bb91ea;
}
#sign{
  border:2px solid pink;
}
#login:hover{
  transition: all 0.5s ease;
  background-color: #bb91ea;
}
#sign:hover{
  background-color: pink;
  transition: all 0.5s ease;
}
.span-nav {
  display: flex;
  position: absolute;
  right: 0;
  margin: 2em;
}
.open-btn,
.close-btn {
  display: none;
  cursor: pointer;
  font-size: 5vw;
}
@media screen and (max-width: 860px) {
  .nav-ul {
    display: none;
  }
  .open-btn {
    display: block;
  }
  .nav-ul.open {
    transition: all 1s ease;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 70px;
    right: 0;
    background-color:var(--color2);
    z-index:20;
    height:90vh;
    gap:7px;
  }
  .nav-ul li{
    width:100%;
    padding:10px;
  }
  .right {
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .content{
    z-index: 10;
  }
  .right{
    width:90%;
    justify-content: center;
    align-items: center;
    bottom:80px;
  }
  #login,#sign{
    border:2px solid blueviolet;
  }

}
/*////////////// container image........ */
.container {
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.container img {
  width: 100%;
  height: 90vh;
  position: relative;
  opacity:0.65;
}
.content {
  position: absolute;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15vw;
  padding: 30px;
  text-align: center;
}
.content h2 {
  font-size: 50px;
}
.content * {
  margin: 5px;
  font-weight: 600;
}
.buttons {
  cursor: pointer;
  font-family: "Reddit Sans", sans-serif;
  padding: 10px 22px 10px 22px;
  border: 2px solid black;
}
.buttons a {
  color: black;
  text-decoration: none;
}
#signup {
  background-color: pink;
}
#booknow {
  background-color: var(--color2);
}
#signup:hover {
  transition: all 0.5s ease;
  background-color: rgb(248, 162, 177);
}
#booknow:hover {
  transition: all 0.5s ease;
  background-color: #a566ed;
}
@media only screen and (max-width: 1080px) {
  .content h2{
    font-size: 48px;
  }
  .content *{
    font-size:20px;
  }
}
@media only screen and (max-width: 768px) {
  .content h2{
    font-size: 36px;
  }
  .content *{
    font-size:12px;
  }
}
/* ......//////////////.... */
.welcome {
  padding: 50px 0px;
}
.heading {
  color: #7000ef;
  margin-bottom: 10px;
  font-size: 20px;
}
.event {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 90%;
  padding: 10px;
}
.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.info * {
  padding: 6px;
}
.info h2 {
  font-size: 2vw;
}
.info p {
  font-size: 1.2vw;
}
.welcome-img img {
  height: 22vw;
}
@media only screen and (max-width: 768px) {
  .info * {
    text-align: center;
  }
  .event {
    max-width: 90%;
    flex-wrap: wrap;
  }
  .info h2 {
    font-size: 4vw;
  }
  .info p {
    font-size: 2.5vw;
  }
  .welcome-img {
    max-width: 90%;
    margin: auto;
  }
  .welcome-img img {
    height: 53vw;
  }
}
.section3 {
  background-color: #af76f14b;
}
.process {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: 80%;
  padding: 30px 0px;
}
.process .purple {
  font-size: 1.5vw;
  color: #7000ef;
}
.facilities {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.steps {
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid var(--color1);
}
.steps img {
  height: 15vw;
}
.steps * {
  padding: 10px;
}
.steps:hover {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.201);
}
.steps:hover img {
  transform: scale(0.97);
  transition: all 1s ease;
}
.event .buttons {
  padding: 10px 20px;
}
@media only screen and (max-width: 1080px) {
  .facilities {
    flex-wrap: wrap;
  }
  .steps img {
    height: 40vw;
  }
  .process h2 {
    font-size: 2vw;
  }
  .heading {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 768px) {
  .facilities {
    flex-wrap: wrap;
  }
  .steps img {
    height: 40vw;
  }
  .steps h3 {
    font-size: 4vw;
  }
  .steps p {
    font-size: 2.5vw;
  }
  .process h2 {
    font-size: 5vw;
  }
  .heading {
    font-size: 2vw;
  }
}
.login:hover {
  background-color: #fff;
}

.carousel-item img{
  height: 300px;
}
.section {
  background-color: #af76f14b;
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: auto;
  padding: 30px;
}
.faq-flex {
  border: 2px solid #7000ef76;
  padding: 15px 25px;
  margin: 10px auto;
  flex-wrap: wrap;
  width: 50vw;
  cursor: pointer;
}
.faq-flex:hover {
  background-color: #7000ef38;
  transition: all 0.5s ease;
}
.plus-flex {
  display: flex;
  position: relative;
}
.plus-flex i {
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: #7000ef;
}
.faq-flex.active .desp {
  display: block;
}
.desp{
  margin: 12px 15px 12px 0px;
  display: none;
  transition: all 0.3s ease;
}
.bold {
  font-weight: bold;
  font-size: 16px;
}
.show {
  transition: all 3s ease;
  display: block;
}
@media only screen and (max-width: 1080px) {
  .heading {
    font-size: 3.5vw;
  }
  .faq-flex {
    width: 90vw;
  }
  .plus-flex i {
    right: 0px;
  }
  .bold {
    font-size: 12px;
  }
  .desp {
    font-size: 11px;
  }
}
@media only screen and (max-width: 768px) {
  .bold {
    font-size: 14px;
  }
  .desp {
    font-size: 11px;
  }
}
/* footer {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  font-size: 0.9vw;
  background-color: #a566edb5;
  padding: 20px 5px;
}
.first {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 20%;
  padding:0px 10px;
  font-size: 14px;
}
#footer-links {
  color: #551ab8;
}
#footer-links i {
  margin-right: 5px;
}
.input-flex {
  display: flex;
  align-items: center;
  gap:5px;
}
#mail {
  border: 2px solid rgba(0, 0, 0, 0.671);
  padding:8px 8px;
}
.input-flex input::placeholder {
  color: rgba(0, 0, 0, 0.655);
}
.input-flex button {
  border: 2px solid rgba(0, 0, 0, 0.589);
  background-color: white;
  cursor: pointer;
  padding:8px 8px;
}
.footer-logo img {
  height: 40px;
}
@media screen and (max-width: 768px) {
  .first {
    padding: 0px 15px;
    height: 16rem;
    width: 40%;
    font-size: 12px;
    flex-wrap: wrap;
    margin:0px 10px;
  }
  footer {
    flex-wrap: wrap;
  }
  .input-flex {
    flex-wrap: wrap;
  }
  .heading {
    font-size: 14px;
  }
  #mail {
    border: 2px solid rgba(0, 0, 0, 0.671);
    padding:8px 8px;
  }
}
@media only screen and (max-width: 1080px) {
  .first {
    font-size: 14px;
    flex-wrap: wrap;
  }
  .input-flex{
    align-items: left;
  }
  .input-flex input {
    margin-bottom: 10px;
  }
  #mail {
    border: 2px solid rgba(0, 0, 0, 0.671);
    padding:0.25vw;
  }
  footer {
    flex-wrap: wrap;
  }
  .input-flex {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .heading {
    font-size:18px;
  }
} */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
  background-color: rgba(157, 73, 236, 0.644);
}
.first{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:23%;
  gap: 15px;
  padding:10px;
  font-size: 14px;
}
.one{
  align-items: flex-start;
}
.logo{
  height: 40px;
}
#footer-links{
  text-decoration: none;
}
#footer-links i{
   margin-right: 5px;
}
.input-flex{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap:10px;
}
.input-flex input,button{
  padding:7px ;
}
.input-flex *{
  border:2px solid black;
  background-color: #fff;
}
@media only screen and (max-width: 1080px){
  footer{
    flex-wrap: wrap;
    gap:40px;
  }
  .first{
    width:40%;
  }
}
@media only screen and (max-width: 767px){
  footer{
    flex-wrap: wrap;
    gap: 30px;
  }
  .first{
    width:80%;
  }
  .input-flex{
    flex-direction: column;
  }
}